In [10]:
import json

import pandas as pd

In [2]:
a_df = pd.read_csv("../data/region/a_predict_2023.csv")
employment_df = pd.read_csv("../data/region/就业总人数预测2023.csv")
highly_educated_df = pd.read_csv("../data/region/高学历比例预测2023.csv")
crime_k1_df = pd.read_csv("../data/region/犯罪率k1.csv")

In [3]:
a_df.head()

    地区          a
0   北京  17.793077
1   天津  12.883778
2   河北   7.103651
3   山西   8.166560
4  内蒙古  10.314830

In [4]:
# merge data based on location
a_df = a_df.merge(employment_df, on="地区")
a_df = a_df.merge(highly_educated_df, on="地区")
a_df = a_df.merge(crime_k1_df, on="地区")

In [5]:
a_df.head()

    地区          a          总人数    高学历人数占比        k1
0   北京  17.793077  1197.377670  44.732994  0.000717
1   天津  12.883778   688.683026  30.806590  0.000271
2   河北   7.103651  3846.637878   9.530984  0.000015
3   山西   8.166560  1811.146924  12.218328  0.000088
4  内蒙古  10.314830  1320.588577  15.093787  0.000080

In [6]:
result = {}

In [7]:
for location in a_df["地区"].unique():
    location_values = a_df[a_df["地区"] == location].values
    result[location] = {
        "a": location_values[0][1],
        "employment": location_values[0][2],
        "highly_educated": location_values[0][3],
        "crime_k1": location_values[0][4]
    }

In [12]:
json.dump(result, open("../data/region/region_data_2023.json", "w"), ensure_ascii=False)