In [1]:
import pandas as pd

In [21]:
df1 = pd.read_csv('../data/region/就业总人数.csv')
df2 = pd.read_csv('../data/region/高学历比例.csv')
df3 = pd.read_csv('../data/region/gdp.csv')

In [22]:
df1 = pd.melt(df1, id_vars=['地区'], var_name='年份', value_name='总人数')
df2 = pd.melt(df2, id_vars=['地区'], var_name='年份', value_name='高学历人数占比')
df3 = pd.melt(df3, id_vars=['地区'], var_name='年份', value_name='gdp')

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   地区      744 non-null    object
 1   年份      744 non-null    object
 2   总人数     744 non-null    float64
dtypes: float64(1), object(2)
memory usage: 17.6+ KB

In [23]:
df1.head()

    地区    年份      总人数
0   北京  1999   618.58
1   天津  1999   508.14
2   河北  1999  3322.30
3   山西  1999  1402.19
4  内蒙古  1999  1056.70

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   地区       651 non-null    object
 1   年份       651 non-null    object
 2   高学历人数占比  651 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.4+ KB

In [24]:
df2.head()

    地区    年份  高学历人数占比
0   北京  2021    43.72
1   天津  2021    28.13
2   河北  2021     8.61
3   山西  2021    11.29
4  内蒙古  2021    13.56

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   地区      775 non-null    object
 1   年份      775 non-null    object
 2   gdp     775 non-null    float64
dtypes: float64(1), object(2)
memory usage: 18.3+ KB

In [25]:
df3.head()

    地区    年份      gdp
0   北京  2022  41610.9
1   天津  2022  16311.3
2   河北  2022  42370.4
3   山西  2022  25642.6
4  内蒙古  2022  23158.6

In [26]:
df = pd.merge(df1, df2, on=['地区', '年份'], how='inner')

In [27]:
df.head()

    地区    年份      总人数  高学历人数占比
0   北京  2001   628.88      8.2
1   天津  2001   488.34      3.6
2   河北  2001  3409.16      0.8
3   山西  2001  1399.50      1.7
4  内蒙古  2001  1067.00      1.6

In [28]:
df = pd.merge(df, df3, on=['地区', '年份'], how='inner')

In [29]:
df.head()

    地区    年份      总人数  高学历人数占比     gdp
0   北京  2001   628.88      8.2  3861.5
1   天津  2001   488.34      3.6  1756.9
2   河北  2001  3409.16      0.8  5062.9
3   山西  2001  1399.50      1.7  2029.5
4  内蒙古  2001  1067.00      1.6  1713.8

In [32]:
df['高学历人数'] = df['总人数'] * df['高学历人数占比'] / 100
df['低学历人数'] = df['总人数'] - df['高学历人数']

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   地区       651 non-null    object
 1   年份       651 non-null    object
 2   总人数      651 non-null    float64
 3   高学历人数占比  651 non-null    float64
 4   gdp      651 non-null    float64
 5   高学历人数    651 non-null    float64
 6   低学历人数    651 non-null    float64
dtypes: float64(5), object(2)
memory usage: 35.7+ KB

In [36]:
df = df.dropna(subset=['总人数', '高学历人数占比'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   地区       651 non-null    object
 1   年份       651 non-null    object
 2   总人数      651 non-null    float64
 3   高学历人数占比  651 non-null    float64
 4   gdp      651 non-null    float64
 5   高学历人数    651 non-null    float64
 6   低学历人数    651 non-null    float64
dtypes: float64(5), object(2)
memory usage: 35.7+ KB

In [43]:
df.to_csv('../data/region/human_structure_gdp.csv', index=False)